.lead {
    font-weight: 600;
    color: #13283a;
}

.solo--picture {
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 5px;
  width: 100px;
    
}

.solo--picture:hover {
    box-shadow: 0 0 2px 1px rgba(157, 222, 243, 0.5);
}

