.contact--fieldset {
  margin: 1px auto 60px auto;
}

input.contact--field {
  margin-bottom: 1px;
}
textarea.contact--field {
  margin-bottom: -1px;
}
input.contact--field:focus, textarea.contact--field:focus{
  border-color: blue;
  outline: none;
}

button.btn {
  outline: none;
  border-color:#dbe3e9;
}

button.btn:hover{
  background-color: #96a8b4;
}

.btn-lg{
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #b6bfc5;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}



@media only screen and (min-width: 599px) {
  .contact--fieldset {
    width: 60%;
  }

}

.fileupload input[type="file"] {
  display: none;
}

.fileupload {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  
}

span.error {
  color: rgb(214, 54, 80);
  font-size: small;
}

.first--name {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact--message{
  height:150px;
}

.contact--button {
  padding-top: 40px;
}

